header {background-color: #FF843C;
        padding: 15px 15px;
    }
#page_content{background-color: #FFFFFF;
        padding: 6px 6px;}
.main_navigation a {color: #FFFFFF;
  border: 2px solid white;
  text-decoration: none;
    }

body>div {border: 1px solid #ffd24a;}
body {padding: 5px 70px;
      background-image:url(/Users/gjgarvilmac2/Downloads/css_styling_assessment/starter_files/img/bg.jpg);
    }

h2 {color: #21ACE0;}

h3 {color: #21ACE0;}

ul {font-weight: bold;
    border-bottom: 2px solid #DDDDDD;
    padding-bottom: 1.7cm;}



thead {background-color: #21ACE0;}

tbody {border-style: soild;
      border-color: #21ACE0;
      border-width: 5px;}

form {background-color: #EEEEEE;
      padding: 15px 15px;
      border-radius: 5px;}

.submit_containter {background-color: #21ACE0;}

.name {background-color: orange;}
textarea {background-color: white;  border: 2px solid #1fabe5;}
/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
